// COLOR VARIABLES

$color-primary: hsl(217, 19%, 35%);
$color-secondary: hsl(214, 17%, 51%);
$color-footer: hsl(212, 23%, 69%);
$color-background: hsl(210, 46%, 95%);

// FONT VARIABLES

$font-primary: "Manrope", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 83.125em; // 1330px/16px

$bp-large1: 78.125em; // 1250/16px
$bp-large2: 71.875em; // 1150/16px
$bp-large: 68.75em; // 1100px/16

$bp-medium1: 65.625em; // 1050/16px
$bp-medium2: 56.25em; // 950/16px
$bp-medium: 53.125em; // 900px/16
$bp-medium-small: 50em; // 800px

$bp-small1: 46.9em; // 750/16px;
$bp-small2: 43.75em; // 700/16px
$bp-small: 37.5em; // 600px/16
$bp-smallest: 28.125em; // 450/16

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;

  body {
    background-color: $color-background;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      height: 100vh;
    }

    @media only screen and (max-width: $bp-medium) {
      max-height: 100vh;
      padding-bottom: 20rem;
    }

    main {
      max-width: 53vw;
      height: 42vh;

      @media only screen and (max-width: $bp-large) {
        max-width: 50vw;
        max-height: 100vh;
      }

      @media only screen and (max-width: $bp-medium) {
        max-width: 45vw;
        max-height: 100vh;
      }

      @media only screen and (max-width: $bp-smallest) {
        max-width: 90vw;
        max-height: 100vh;
      }

      .wrapper {
        display: grid;
        grid-template-columns: 45% 60%;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-largest) {
          grid-template-columns: 45% 60%;
        }

        @media only screen and (max-width: $bp-medium) {
          display: flex;
          flex-direction: column;
          border-radius: 0.7rem;
        }

        .left {
          width: 125%;
          height: auto;

          @media only screen and (max-width: $bp-large) {
            width: 150%;
          }

          @media only screen and (max-width: $bp-medium) {
            width: 100%;
          }

          &__image {
            display: flex;
            width: 100%;
            height: 45vh;
            border-radius: 0.7rem 0 0 0.7rem;

            @media only screen and (max-width: $bp-largest) {
              height: 43vh;
            }

            @media only screen and (max-width: $bp-large1) {
              height: 47vh;
            }
            @media only screen and (max-width: $bp-large) {
              height: 40vh;
            }

            @media only screen and (max-width: $bp-medium1) {
              height: 42vh;
            }

            @media only screen and (max-width: $bp-medium2) {
              height: 44vh;
            }

            @media only screen and (max-width: $bp-medium) {
              border-radius: 0.7rem 0.7rem 0 0;
              height: 35vh;
            }

            @media only screen and (max-width: $bp-smallest) {
              height: 30vh;
            }
          }
        }

        .right {
          background-color: white;
          max-width: 100%;
          height: 45vh;
          padding: 2.5rem 3rem;
          border-radius: 0 0.7rem 0.7rem 0;

          @media only screen and (max-width: $bp-largest) {
            height: 43vh;
            padding: 2rem;
          }

          @media only screen and (max-width: $bp-large1) {
            height: 47vh;
          }

          @media only screen and (max-width: $bp-large) {
            height: 40vh;
            padding: 2rem;
          }

          @media only screen and (max-width: $bp-medium1) {
            height: 42vh;
          }

          @media only screen and (max-width: $bp-medium2) {
            height: 44vh;
          }

          @media only screen and (max-width: $bp-medium) {
            border-radius: 0 0 0.7rem 0.7rem;
            height: 37.5vh;
          }

          @media only screen and (max-width: $bp-medium-small) {
            height: 40vh;
          }

          @media only screen and (max-width: $bp-smallest) {
            height: 34vh;
          }

          h1 {
            color: $color-primary;
            font-family: $font-primary;
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 1.5;

            @media only screen and (max-width: $bp-large) {
              font-size: 1rem;
            }

            @media only screen and (max-width: $bp-small2) {
              font-size: 0.9rem;
            }
          }

          &__paragraph {
            color: $color-secondary;
            font-family: $font-primary;
            font-weight: 500;
            font-size: 0.8rem;
            padding: 1rem 0 0.5rem;
            line-height: 1.6;
            letter-spacing: 0.7;

            @media only screen and (max-width: $bp-large) {
              font-size: 0.7rem;
            }

            @media only screen and (max-width: $bp-small2) {
              padding: 1rem 0 0.5rem;
            }
          }

          .user {
            display: flex;
            color: $color-footer;
            font-family: $font-primary;
            font-weight: 500;
            font-size: 0.8rem;
            align-items: center;
            padding-top: 1rem;

            @media only screen and (max-width: $bp-largest) {
              padding-top: none;
            }

            @media only screen and (max-width: $bp-small2) {
              padding-top: none;
            }

            &__avatar {
              height: 2.5rem;
              width: 2.5rem;
              border-radius: 50%;
              margin: 1rem;
              margin-left: 0;
            }

            &__box {
              margin-right: auto;
            }

            &__box-name {
              font-weight: bold;
              color: $color-primary;
              margin-bottom: 0.2rem;
              font-size: 0.9rem;

              @media only screen and (max-width: $bp-large) {
                font-size: 0.8rem;
              }
            }

            &__box-date {
              font-size: 0.8rem;

              @media only screen and (max-width: $bp-large) {
                font-size: 0.7rem;
              }
            }
          }
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 0.6rem;
        background-color: $color-background;
        z-index: 10;
        cursor: pointer;

        @media only screen and (max-width: $bp-large) {
          padding: 0.5rem;
          margin-left: 0.5rem;
        }

        @media only screen and (max-width: $bp-medium) {
          display: flex;
          align-items: center;
          position: absolute;
          margin: 0.5rem 0 0 16rem;
          padding: 0.5rem;
        }

        @media only screen and (max-width: $bp-small1) {
          margin: 0.5rem 0 0 14rem;
        }

        .icon:hover {
          filter: brightness(3);
          transition: 0.2s ease-out;
        }

        &:hover,
        &:target {
          background-color: $color-secondary;
          transition: 0.3s ease-in-out;

          @media only screen and (max-width: $bp-medium) {
            background-color: $color-footer;
          }
        }
      }
    }
  }
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  position: relative;
  margin: -14.7rem 0 0 39rem;
  position: relative;

  @media only screen and (max-width: $bp-largest) {
    margin: -14.7rem 0 0 35.5rem;
  }

  @media only screen and (max-width: $bp-large1) {
    margin: -13rem 0 0 33rem;
  }

  @media only screen and (max-width: $bp-large2) {
    margin: -13rem 0 0 29.5rem;
  }

  @media only screen and (max-width: $bp-large) {
    margin: -13rem 0 0 26rem;
  }

  @media only screen and (max-width: $bp-medium1) {
    margin: -12rem 0 0 24rem;
  }

  @media only screen and (max-width: $bp-medium2) {
    margin: -12rem 0 0 21.5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: auto;
    position: relative;
    top: -5.3rem;
    width: 100%;
  }

  .xyz-dialog {
    background: $color-primary;
    padding: 0.5rem 1.5rem;
    border-radius: 9px;
    position: relative;
    width: 15rem;
    opacity: 0.9;

    @media only screen and (max-width: $bp-medium) {
      border-radius: 0 0 9px 9px;
      width: 25rem;
      padding: 1.7rem 2rem;
      display: flex;
      justify-content: start;
      align-items: center;
      opacity: 1;
    }
  }

  .xyz-dialog::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color-primary;
    margin-left: -6.6rem;
    position: absolute;
    top: 100%;

    @media only screen and (max-width: $bp-medium) {
      visibility: hidden;
    }
  }
  .title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: $font-primary;
    color: $color-footer;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;

    @media only screen and (max-width: $bp-medium) {
      margin-left: 1.4rem;
    }

    @media only screen and (max-width: $bp-small1) {
      margin-left: 0;
    }
  }

  .socialToolBox:first-child {
    margin-left: 0.5rem;
  }

  .sm-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;

    &:hover,
    &:target {
      background-color: $color-secondary;
      transition: 0.1s ease-in-out;
      border-radius: 50%;
    }
  }
}
/* .share-icon-mobile {
    display: inline-flex;
    align-items: center;
    justify-self: flex-end;
    border-radius: 50%;
    // margin: 0.4rem 0.5rem 0.3rem;
    padding: 0.7rem;
    // background-color: $color-footer;
    filter: brightness(3);

    &:hover,
    &:target {
      background-color: $color-footer;
      transition: 0.3s ease-in-out;
    } 
  } */

.disabled {
  display: none;
  transition: 1s ease-in;
}
