* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

* body {
  background-color: #ecf2f8;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 65.625em) {
  * body {
    height: 100vh;
  }
}

@media only screen and (max-width: 51.25em) {
  * body {
    min-height: 100%;
  }
}

* body main {
  max-width: 53vw;
  height: 42vh;
}

@media only screen and (max-width: 51.25em) {
  * body main {
    max-width: 45vw;
    max-height: 100%;
  }
}

* body main .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 60%;
      grid-template-columns: 45% 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 65.625em) {
  * body main .wrapper {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 51.25em) {
  * body main .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0.7rem;
  }
}

* body main .wrapper .left {
  width: 125%;
  height: auto;
}

@media only screen and (max-width: 65.625em) {
  * body main .wrapper .left {
    width: 150%;
  }
}

@media only screen and (max-width: 51.25em) {
  * body main .wrapper .left {
    width: 100%;
    max-height: 35vh;
  }
}

* body main .wrapper .left__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 45vh;
  border-radius: 0.7rem 0 0 0.7rem;
}

@media only screen and (max-width: 65.625em) {
  * body main .wrapper .left__image {
    height: 40vh;
  }
}

@media only screen and (max-width: 51.25em) {
  * body main .wrapper .left__image {
    border-radius: 0.7rem 0.7rem 0 0;
    height: 30vh;
  }
}

* body main .wrapper .right {
  background-color: white;
  max-width: 100%;
  height: 45vh;
  padding: 2.5rem 3rem 2.5rem;
  border-radius: 0 0.7rem 0.7rem 0;
}

@media only screen and (max-width: 65.625em) {
  * body main .wrapper .right {
    height: 40vh;
    padding: 2rem;
  }
}

@media only screen and (max-width: 51.25em) {
  * body main .wrapper .right {
    border-radius: 0 0 0.7rem 0.7rem;
    height: 28vh;
  }
}

* body main .wrapper .right h1 {
  color: #48556a;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5;
}

@media only screen and (max-width: 65.625em) {
  * body main .wrapper .right h1 {
    font-size: 0.8rem;
  }
}

* body main .wrapper .right__paragraph {
  color: #6d7f97;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 1rem 0 0.5rem;
  line-height: 1.6;
  letter-spacing: 0.7;
}

@media only screen and (max-width: 65.625em) {
  * body main .wrapper .right__paragraph {
    font-size: 0.5rem;
  }
}

* body main .wrapper .right .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9eafc2;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

* body main .wrapper .right .user__avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin: 1rem;
  margin-left: 0;
}

* body main .wrapper .right .user__box {
  margin-right: auto;
}

* body main .wrapper .right .user__box-name {
  font-weight: bold;
  color: #48556a;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

@media only screen and (max-width: 65.625em) {
  * body main .wrapper .right .user__box-name {
    font-size: 0.7rem;
  }
}

* body main .wrapper .right .user__box-date {
  font-size: 0.8rem;
}

@media only screen and (max-width: 65.625em) {
  * body main .wrapper .right .user__box-date {
    font-size: 0.6rem;
  }
}

* body main .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 0.6rem;
  background-color: #ecf2f8;
  z-index: 10;
  cursor: pointer;
}

@media only screen and (max-width: 65.625em) {
  * body main .arrow {
    padding: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 51.25em) {
  * body main .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    margin: 0.5rem 0 0 16rem;
    padding: 0.5rem;
  }
}

* body main .arrow .icon:hover {
  -webkit-filter: brightness(3);
          filter: brightness(3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

* body main .arrow:hover, * body main .arrow:target {
  background-color: #6d7f97;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 51.25em) {
  * body main .arrow:hover, * body main .arrow:target {
    background-color: #9eafc2;
  }
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  margin: -14.7rem 0 0 39rem;
  position: relative;
}

@media only screen and (max-width: 81.25em) {
  .share {
    position: relative;
    margin: -13rem 0 0 33.5rem;
  }
}

@media only screen and (max-width: 65.625em) {
  .share {
    position: relative;
    margin: -25rem 0 0 25.5rem;
  }
}

@media only screen and (max-width: 51.25em) {
  .share {
    margin: auto;
    position: relative;
    top: -5.3rem;
    width: 100%;
  }
}

.share .xyz-dialog {
  background: #48556a;
  padding: 0.5rem 1.5rem;
  border-radius: 9px;
  position: relative;
  width: 15rem;
  opacity: 0.9;
}

@media only screen and (max-width: 51.25em) {
  .share .xyz-dialog {
    border-radius: 0 0 9px 9px;
    width: 25rem;
    padding: 1.7rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
}

.share .xyz-dialog::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #48556a;
  margin-left: -6.6rem;
  position: absolute;
  top: 100%;
}

@media only screen and (max-width: 51.25em) {
  .share .xyz-dialog::after {
    visibility: hidden;
  }
}

.share .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  color: #9eafc2;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}

@media only screen and (max-width: 51.25em) {
  .share .title {
    margin-left: 1.4rem;
  }
}

.share .socialToolBox:first-child {
  margin-left: 0.5rem;
}

.share .sm-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
}

.share .sm-icon:hover, .share .sm-icon:target {
  background-color: #6d7f97;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  border-radius: 50%;
}

/* .share-icon-mobile {
    display: inline-flex;
    align-items: center;
    justify-self: flex-end;
    border-radius: 50%;
    // margin: 0.4rem 0.5rem 0.3rem;
    padding: 0.7rem;
    // background-color: $color-footer;
    filter: brightness(3);

    &:hover,
    &:target {
      background-color: $color-footer;
      transition: 0.3s ease-in-out;
    } 
  } */
.disabled {
  display: none;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}
/*# sourceMappingURL=main.css.map */